.editor__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 50%;
  height: 90vh;
}

.editor__current-language-info {
  font-size: 14px;
  color: white;
}

button:disabled {
  opacity: 50%;
}
