.nav-bar {
  width: 100vw;
  height: 10vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  z-index: 1;
  padding: 0 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar .nav-bar__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.nav-bar--top {
  background-color: none;
}

.nav-bar--top .link {
  font-size: 16px;
}

.nav-bar--scroll {
  background-color: black;
}

.nav-bar--scroll .link {
  font-size: 14px;
}

.nav-bar__bookmark-title {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  font-weight: 600;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 22px;
}

.nav-bar__bookmark-title--top {
  font-size: 20px;
}

.nav-bar--scroll:after {
  -webkit-transition: 3s;
  transition: 3s;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(#493fa3), color-stop(#c03da3), to(black));
  background-image: linear-gradient(to right, black, #493fa3, #c03da3, black);
}

.nav-links {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-links .link {
  color: white;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
  line-height: 26px;
  overflow: hidden;
}

.nav-links .link:after, .nav-links .link:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2px;
}

.nav-links .link:after {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav-links .link:before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-links .link:hover {
  cursor: pointer;
  position: relative;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-links .link:hover:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#493fa3), to(black));
  background-image: linear-gradient(to right, #493fa3, black);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-links .link:hover:after {
  background-image: -webkit-gradient(linear, right top, left top, from(#c03da3), to(black));
  background-image: linear-gradient(to left, #c03da3, black);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.section-start {
  width: 100%;
  min-height: 120vh;
  background: rgba(0, 0, 0, 0.1) url("../photos/picture1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-technology {
  width: 100%;
  height: 200vh;
  background-color: cadetblue;
}

.section-author {
  width: 100%;
  height: 200vh;
  background-color: #666;
}

.editor__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
  padding-top: 20px;
  min-width: 50%;
  height: 90vh;
}

.editor__current-language-info {
  font-size: 14px;
  color: white;
}

button:disabled {
  opacity: 50%;
}

.button {
  min-width: 150px;
  max-width: 300px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #333;
  -webkit-box-shadow: 0px 0px 3px #888;
          box-shadow: 0px 0px 3px #888;
  border: none;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 6px white;
          box-shadow: 0px 0px 6px white;
}

.right-panel {
  max-width: 50%;
}

.right-panel__session-token-info {
  color: white;
  font-size: 14px;
}

.right-panel__session-token-info span {
  font-size: 12px;
}

.section-project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20vh 10vw 10vw 10vh;
  min-height: 200vh;
  background-color: black;
}

.section-project .section-project__title {
  position: relative;
  color: white;
  margin-bottom: 20vh;
  border-radius: 30px;
  padding: 3px 20px;
  max-width: 100%;
}

.section-project .section-project__title:after,
.section-project .section-project__title:before {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  border-radius: 10px;
  bottom: 0;
}

.section-project .section-project__title:after {
  -webkit-animation: titleAnimateAfter 10s infinite linear;
          animation: titleAnimateAfter 10s infinite linear;
  background-image: -webkit-gradient(linear, right top, left top, from(#c03da3), color-stop(#493fa3), to(black));
  background-image: linear-gradient(to left, #c03da3, #493fa3, black);
}

.section-project .section-project__title:before {
  -webkit-animation: titleAnimateBefore 10s infinite linear;
          animation: titleAnimateBefore 10s infinite linear;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: -webkit-gradient(linear, right top, left top, from(#493fa3), color-stop(#c03da3), to(black));
  background-image: linear-gradient(to left, #493fa3, #c03da3, black);
}

.section-project__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 50vh;
}

.article:nth-child(even) .article__text {
  color: white;
  padding: 40px;
  width: 50%;
  height: 10%;
}

.article:nth-child(even) .article__img {
  width: 50%;
  height: 100%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.article:nth-child(odd) .article__text {
  color: white;
  padding: 40px;
  width: 50%;
  height: 100%;
}

.article:nth-child(odd) .article__img {
  width: 40%;
  height: 150%;
  width: 40%;
  height: 150%;
}

.article:nth-child(2) .article__img {
  background: rgba(0, 0, 0, 0.5) url("../photos/picture2.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article:nth-child(3) .article__img {
  background: rgba(0, 0, 0, 0.6) url("../photos/picture3.jpg");
  -webkit-transform: scale(-0.7, 0.7) translateY(-40%);
          transform: scale(-0.7, 0.7) translateY(-40%);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article:nth-child(4) .article__img {
  background: rgba(0, 0, 0, 0.5) url("../photos/picture4.jpg");
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@-webkit-keyframes titleAnimateAfter {
  0% {
    left: -10%;
    opacity: 0;
  }
  5% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0;
    left: 110%;
  }
  100% {
    opacity: 0;
    left: 110%;
  }
}

@keyframes titleAnimateAfter {
  0% {
    left: -10%;
    opacity: 0;
  }
  5% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0;
    left: 110%;
  }
  100% {
    opacity: 0;
    left: 110%;
  }
}

@-webkit-keyframes titleAnimateBefore {
  0% {
    right: -10%;
    opacity: 0;
  }
  50% {
    right: -10%;
    opacity: 0;
  }
  55% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
    right: 110%;
  }
  100% {
    opacity: 0;
    right: 110%;
  }
}

@keyframes titleAnimateBefore {
  0% {
    right: -10%;
    opacity: 0;
  }
  50% {
    right: -10%;
    opacity: 0;
  }
  55% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
    right: 110%;
  }
  100% {
    opacity: 0;
    right: 110%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oxanium", cursive;
}

.app {
  position: absolute;
  top: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #222;
  overflow: hidden;
}

.app__editor-and-panel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=main.css.map */