.section-start {
  width: 100%;
  min-height: 120vh;
  background: rgba(0, 0, 0, 0.1) url("../photos/picture1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-author {
  width: 100%;
  height: 200vh;
  background-color: #666;
}
