.section-start {
  width: 100%;
  min-height: 120vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 1)
    ),
    url("../photos/picture1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
