.nav-bar {
  width: 100vw;
  height: 10vh;
  color: white;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  z-index: 1;
  padding: 0 30px;
  transition: 0.5s;
  .nav-bar__content-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.nav-bar--top {
  background-color: none;
  .link {
    font-size: 16px;
  }
}

.nav-bar--scroll {
  background-color: black;
  .link {
    font-size: 14px;
  }
}

.nav-bar__bookmark-title {
  flex-basis: 30%;
  font-weight: 600;
  transition: 1s;
  font-size: 22px;
}

.nav-bar__bookmark-title--top {
  font-size: 20px;
}

.nav-bar--scroll:after {
  transition: 3s;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, black, #493fa3, #c03da3, black);
}

.nav-links {
  flex-basis: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  .link {
    color: white;
    text-decoration: none;
    transition: 1s;
    line-height: 26px;
    overflow: hidden;
    &:after,
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: 0.4s;
      border-radius: 2px;
    }
    &:after {
      transform: translateX(-100%);
    }
    &:before {
      transform: translateX(100%);
    }
    &:hover {
      cursor: pointer;
      position: relative;
      transform: translateY(-10%);
      transition: 0.3s;
    }
    &:hover:before {
      background-image: linear-gradient(to right, #493fa3, black);
      transform: translateX(0);
    }
    &:hover:after {
      background-image: linear-gradient(to left, #c03da3, black);
      transform: translateX(0);
    }
  }
}
