.section-technology-footer {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    opacity: 0;
    span {
      color: #c03da3;
    }
  }
  &__title {
    color: white;
    font-size: 20px;
    span {
      font-style: italic;
    }
  }
  &__button {
    width: 100px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: map-get($color-pink, "color");
    margin: 30px;
    font-style: italic;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: 0.7s;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: 1s;
      border-radius: 2px;
    }
    &:after {
      transform: translateX(-100%);
    }
    &:hover {
      cursor: pointer;
      position: relative;
      transform: translateY(-15%) scale(1.05);
    }
    &:hover:after {
      background-image: linear-gradient(
        to left,
        transparent,
        map-get($color-pink, "color") map-get($color-purple, "color")
          transparent
      );
      transform: translateX(100%);
    }
  }
}
