.section-technology {
  position: relative;
  width: 100%;
  padding: 0vh 10vw 0vw 10vw;
  height: 140vh;
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

.section-technology__background-one {
  transform: translate(-5vw, -3vh);
  width: 70vw;
  min-height: 100vh;
  background-color: lighten($color: #060325, $amount: 2%);
  position: absolute;
  z-index: 2;
  //box-shadow: -1px -1px 5px 5px lighten($color: #060325, $amount: 6%);
}
.section-technology__background-two {
  transform: translate(-9vw, -6vh);
  width: 70vw;
  min-height: 100vh;
  background-color: darken($color: #060325, $amount: 1%);
  position: absolute;
  z-index: 1;
  //box-shadow: -2px -2px 5px 5px lighten($color: #060325, $amount: 3%);
}

.section-technology {
  &__article {
    position: absolute;
    background-color: lighten($color: #060325, $amount: 6%);
    width: 70vw;
    min-height: 100vh;
    z-index: 3;
    // box-shadow: -3px -3px 5px 5px lighten($color: #060325, $amount: 10%);
  }
  &__title {
    position: relative;
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
  }
  &__title:after {
    position: absolute;
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    border-radius: 10px;
    margin: 0 20%;
    background-image: linear-gradient(to left, #493fa3, #666, #493fa3);
  }
  &__text {
    color: white;
  }
  // .section-technology__img {
  //   background: rgba(0, 0, 0, 0.2) url("../photos/deepcodeimage.png");
  //   background-blend-mode: darken;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;

  //   height: 300px;
  // }
}

@keyframes showP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title2AnimateAfter {
  0% {
    transform: translate(10vw);
    opacity: 0;
  }
  5% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0;
    transform: translate(60vw);
  }
  100% {
    opacity: 0;
    transform: translate(70vw);
  }
}

@keyframes title2AnimateBefore {
  0% {
    transform: translate(60vw);
    opacity: 0;
  }
  50% {
    transform: translate(60vw);
    opacity: 0;
  }
  55% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
    transform: translate(10vw);
  }
  100% {
    opacity: 0;
    transform: translate(10vw);
  }
}
