@mixin test() {
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @content;
}

@mixin widthAndHeight($width, $height) {
  width: $width;
  height: $height;
  @content;
}
.section-project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20vh 6vw 0vw 6vw;
  min-height: 200vh;
  background-color: black;
  .section-project__title {
    position: relative;
    color: white;
    margin-bottom: 20vh;
    border-radius: 30px;
    padding: 3px 20px;
    max-width: 100%;
    font-size: 30px;
  }
  .section-project__title:after,
  .section-project__title:before {
    position: absolute;
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    border-radius: 10px;
    bottom: 0;
  }
  .section-project__title:after {
    animation: titleAnimateAfter 8s infinite linear;
    background-image: linear-gradient(to left, #c03da3, #493fa3, black);
  }

  .section-project__title:before {
    animation: titleAnimateBefore 8s infinite linear;
    background-image: linear-gradient(to right, #493fa3, #c03da3, black);
  }

  &__article {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    @include widthAndHeight(100%, 50vh);
  }
}

.article:nth-child(even) {
  .article__text {
    color: white;
    padding: 40px;
    @include widthAndHeight(50%, 10%);
  }
  .article__img {
    @include widthAndHeight(50%, 100%);
    transform: translateY(-20%);
  }
}

.article:nth-child(odd) {
  .article__text {
    color: white;
    padding: 40px;
    @include widthAndHeight(50%, 100%);
  }
  .article__img {
    width: 40%;
    height: 150%;
    @include widthAndHeight(40%, 150%);
  }
}

///Picture 1 in Section-Project
.article:nth-child(2) {
  .article__img {
    background: rgba(0, 0, 0, 0.5) url("../photos/picture2.jpg");
    @include test();
  }
}

///Picture 2 in Section-Project
.article:nth-child(3) {
  .article__img {
    background: rgba(0, 0, 0, 0.6) url("../photos/picture3.jpg");
    transform: scale(-0.7, 0.7) translateY(-40%);
    @include test();
  }
}

///Picture 3 in Section-Project
.article:nth-child(4) {
  .article__img {
    background: rgba(0, 0, 0, 0.5) url("../photos/picture4.jpg");
    filter: grayscale(100%);
    @include test();
  }
}

@keyframes titleAnimateAfter {
  0% {
    transform: translate(-10vw);
    opacity: 0;
  }
  5% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0;
    transform: translate(50vw);
  }
  100% {
    opacity: 0;
    transform: translate(50vw);
  }
}

@keyframes titleAnimateBefore {
  0% {
    transform: translate(50vw);
    opacity: 0;
  }
  50% {
    transform: translate(50vw);
    opacity: 0;
  }
  55% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
    transform: translate(-10vw);
  }
  100% {
    opacity: 0;
    transform: translate(-10vw);
  }
}
