.section-technology-footer {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    opacity: 0;
    span {
      color: #c03da3;
    }
  }
  &__title {
    color: white;
    font-size: 20px;
    span {
      font-style: italic;
    }
  }
  &__button {
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-weight: bold;
    color: map-get($color-pink, "color");
    margin: 10px;
    font-style: italic;
    cursor: pointer;
    outline: none;
    transition: 0.7s;
    &:hover {
      cursor: pointer;
      position: relative;
      text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
        #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
        6px -19px 0px rgba(255, 255, 255, 0.04);
    }
  }
}
