@import "_variables.scss";
@import "_buttons.scss";
@import "_navBar.scss";
@import "_mainPage.scss";
@import "_editor.scss";
@import "_rightPanel.scss";
@import "_sectionProject.scss";
@import "_sectionTechnology.scss";
@import "_sectionTechnologyFooter.scss";
@import "_modalAppTechnology.scss";
@import "_sectionAuthor.scss";
@import "_sideBar.scss";
@import "_toSmallScreenNotification.scss";

* {
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

html {
  background-color: black;
  min-height: 100vh;
  min-width: 90%;
}
.app {
  display: none;
  @media (min-width: 1023px) and (min-height: 500px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    overflow: hidden;
  }
}

.app__editor-and-panel-wrapper {
  display: flex;
  flex-direction: row;
}
